::selection {
    background-color: #00ffea;
    color: #fff;
  }
  ::-moz-selection {
    background-color: #00ffea;
    color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00ffea;
  }

  .global {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
  }

  .apla span {
    opacity: 0;
  }

  .flexbox {
    display: flex;
  }

  nav a {
    text-decoration: none;
    transition: .36s ease;
  }

  nav a.active {
    color: #00ffea;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  /* Fonts */
  @font-face {
    font-family: 'Butler Bold';
    src: url(../fonts/Butler_Bold.otf);
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Butler Light';
    src: url(../fonts/Butler_Light.otf);
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'OpenSans Light';
    src: url(../fonts/OpenSans_Light.ttf);
    font-weight: 300;
  }
  
  /* Variables */
  .green {
    color: #0c3c3a;
  }
  
  .blue {
    color: #00ffea;
  }
  
  .blue-bg {
    background-color: #00ffea;
  }
  
  .white-bg {
    background-color: #fff;
  }

  .bold {
      font-weight: bold;
  }
  
  p {
    font-size: 17px;
    font-family: 'OpenSans Light';
    line-height: 27px;
  }
  
  h1, h2 {
    font-size: 74px;
  }

  h1 {
    line-height: 107px;
  }

  h3 {
    font-size: 34px;
  }
  
  h1 ,h2, h3, nav a {
    font-family: 'Butler Bold';
    color:  #0c3c3a;;
  }

  h5 {
    margin: 0;
  }

  nav a {
    font-size: 22px;
    text-align: right;
    height: 44px;
  }
  
  /* ---------- Styles --------- */
  
  html,
  body {
    color: #0c3c3a;
    font-family: 'OpenSans Light', serif;
    background-color: #fff;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  header, section {
      display: flex;
      position: relative;
      flex-direction: column;
      z-index: 2;
  }
