::selection {
    background-color: #00ffea;
    color: #fff;
  }
  ::-moz-selection {
    background-color: #00ffea;
    color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00ffea;
  }

  iframe {
    display: none;
  }

  .global {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
  }

  .apla p {
    opacity: 0;
  }

  .flexbox {
    display: flex;
  }

  a {
    text-decoration: none;
    border: none;
    font-family: 'OpenSans Light';
    color: #0c3c3a;
  }

  nav a {
    text-decoration: none;
    transition: .36s ease;
  }

  nav a.active {
    color: #00ffea;
    text-shadow: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  /* Fonts */
  @font-face {
    font-family: 'Butler Bold';
    src: url(../fonts/Butler_Bold.otf);
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Butler Light';
    src: url(../fonts/Butler_Light.otf);
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'OpenSans Light';
    src: url(../fonts/OpenSans_Light.ttf);
    font-weight: 300;
  }
  
  /* Variables */
  .green {
    color: #0c3c3a;
  }
  
  .blue {
    color: #00ffea;
  }
  
  .blue-bg {
    background-color: #00ffea;
  }
  
  .white-bg {
    background-color: #fff;
  }

  .bg-top {
    position: absolute;
  }
  
  p {
    font-family: 'OpenSans Light';
    margin: 0;
  }

  a p {
    transition: .34s ease;
  }

  button {
    position: relative;
  }

  button, a{
    -webkit-tap-highlight-color: transparent;
  }

  h3 {
    margin: 0;
  }
  
  h1 ,h2, h3, nav a {
    font-family: 'Butler Bold';
    color:  #0c3c3a;;
  }

  h5 {
    margin: 0;
  }

  nav a {
    font-size: calc(0.88vw + 5px);
    text-align: right;
    height:calc(1.775vw + 10px);
  }
  
  /* ---------- Styles --------- */
  
  html,
  body {
    color: #0c3c3a;
    font-family: 'OpenSans Light', serif;
    background-color: #fff;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  header, section {
      display: flex;
      position: relative;
      flex-direction: column;
      /* z-index: 2; */
  }

  .runicBtn svg {
    position: absolute;
    transition: .5s ease;
    display: block;
  }
  
  .runicBtn svg path {
    stroke-width: 2.7px;
  }

  .runicBtn svg:nth-child(1) {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
  }

  .runicBtn svg:nth-child(2) {
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
  }

  .runicBtn:hover svg:nth-child(1) {
    stroke-dashoffset: -70%;
  }

  .runicBtn svg:nth-child(4) {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
  }
  .runicBtn:hover svg:nth-child(4) {
    stroke-dashoffset: 105%;
  }
  



  /* Animations

  @keyframes changedash {
    from {
      stroke-dashoffset: 0;
      stroke-dasharray: 100%;
    }
  
    to {
      stroke-dashoffset: 100%;
      stroke-dasharray: 100%;
    }
  }

  #border-desk,
  #border {
    animation-duration: 5s;
    animation-name: changedash;
    animation-iteration-count: infinite;
    animation-direction: normal;
  } */



  /* Close button */


  .close {
    position: absolute;
    width: 21px;
    height: 21px;
    transition: cubic-bezier(.33,.14,.35,.97) .2s;
    transition-delay: 0s;
    overflow: hidden;
    display: block;
    opacity: 0;
}

.close svg {
  position: absolute;
  bottom: 0;
  left: 27.5vw;
}

.close:hover {
  transform: rotate(90deg);
}

.close svg {
  transition: .2s ease-in;
}

.close svg:first-child {
  left: -29px;
  top: 0;
}

.close svg:last-child {
  left: 0px;
  top: 0px;
}

.close:hover svg:first-child {
  transform: translate(25px, -25px);
}

.close:hover svg:last-child {
  transform: translate(-25px, -25px);
}


.styledBtn {
  font-family: 'Butler Bold';
  position: relative;
  box-sizing: content-box;
  padding: 15.5px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #0c3c3a;
  cursor: pointer;
}

.styledBtn::after {
  content: '';
  width: 0;
  height: 2px;
  transition: .74s ease;
  display: block;
  background-color: #00ffea;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.styledBtn:hover::after {
  width: 100%;
}