@media (min-width: 1920px) and (min-height: 1200px) {
    .bg-top {
        left: -10px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1920px) and (max-height: 1080px) {
    .bg-top {
        left: -20px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1680px) and (max-height: 1050px) {
    .bg-top {
        left: -10px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1680px) and (max-height: 1050px) {
    .bg-top {
        left: -146px;
        width: 96vw;
        bottom: -4vw;
    }
}

@media (max-width: 1440px) and (max-height: 900px) {
    .bg-top {
        left: -108px;
        width: 95vw;
        bottom: -12vw;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .bg-top {
        left: -22px;
        width: 85vw;
        bottom: -20.5vw;
    }
}

@media (max-width: 1280px) and (max-height: 800px) {
    .bg-top {
        left: -120px;
        width: 97vw;
        bottom: -20vw;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .bg-top {
        left: -10px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {
    .bg-top {
        left: -18px;
        width: 85vw;
        bottom: -37.5vw;
    }
}

@media (min-width: 1024px) {

    p {
        font-size: .875vw;
        line-height: 1.45vw;
      }
    
      button {
        font-size: .75vw;
      }
      
      h1, h2 {
        font-size: 3.85vw;
      }
    
      h1 {
        line-height: 5.65vw
      }
    
      h3 {
        font-size: 1.75vw;
      }


    h1,h2 {
        text-align: center;
    }

    .mobile {
        display: none;
    }

    section {
        align-items: center;
    }

    section:not(.showroom) {
        margin: 0 13vw;
    }

    /* HEADER */
    
    nav hr {
        display: block;
        height: 1px;
        border: 0;
        margin: 1em 0;
        padding: 0;
    }
    
    nav hr.black {
        width: 5px;
        right: -20px;
        top: -30px;
    }
    
    nav hr.blue {
        width: 5px;
        right: -20px;
        top: -30px;
        /* max-height: 0; */
    }
    
    nav.open hr.black {
        max-height: 210px;
    }
      
    
    nav a.int.active ~ hr.black,
    nav a.int:hover ~ hr.blue {
      height: 40px;
    }
    
    nav a.sho.active ~ hr.black,
    nav a.sho:hover ~ hr.blue {
      height: 60px;
    }
    
    nav a.tea.active ~ hr.black,
    nav a.tea:hover ~ hr.blue {
      height: 106px;
    }
    
    nav a.off.active ~ hr.black,
    nav a.off:hover ~ hr.blue {
      height: 145px;
    }
    
    nav a.con.active ~ hr.black,
    nav a.con:hover ~ hr.blue {
      height: 190px;
    }
    
    nav a.int.active ~ hr.black {
      max-height: 40px;
    }
    
    nav a.sho.active ~ hr.black {
      max-height: 60px;
    }
    
    nav a.tea.active ~ hr.black {
      max-height: 106px;
    }
    
    nav a.off.active ~ hr.black {
      max-height: 145px;
    }
    
    nav a.blo.active ~ hr.black {
      max-height: 195px;
    }
    
    nav a.con.active ~ hr.black {
      max-height: 233px;
    }

    .lineWrapper {
        position: relative;
    }


    .bg-top path {
        fill: none;
        stroke: #00ffea;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1px;
        fill-rule: evenodd;
        animation: drawtop 2s;
        /* animation-delay: 3s; */
        stroke-dasharray: 12357.5;
        stroke-dashoffset: 10794.5;
        opacity: 0;
        transform: translate3d(0,0,0);
    }

    @keyframes drawtop {
        from {
          stroke-dasharray: 10000;
          stroke-dashoffset: 10000;
        }
        to {
          stroke-dasharray: 12357.5;
          stroke-dashoffset: 10794.5;
        }
      }

    .apla {
        margin: 29px 24px;
    }

    nav {
        margin: 27px 41px;
    }
    

    header {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    header .container {
        text-align: center;
        align-items: center;
        margin-bottom: 6.25vh;
    }


    h1 {
        margin: 0 0 4vh;
    }

    header h1 img {
        width: 18.25vw;
        margin-left: 14px;
    }


    header a {
        bottom: 4.6vw;
    }

    h2 {
        margin: 1.5vh 0;
    }

    header .container p {
        font-size: 17px;
    }

    .heading-text {
        text-align: center;
    }

    /* INTRO */

    .intro {
        height: 100vh;
        justify-content: space-around;
    }

    .intro .heading-text {
        margin-bottom: 11vh;
    }

    .intro .flexbox {
        align-self: center;
        justify-content: center;
        width: 80%;
        margin:0 30vw 9vh 30vw;
        transform: translate(0.25vh, .5vh);
    }

    .intro .flexbox div {
        width: 30%;
    }

    .intro .flexbox div:nth-child(1) {
        margin-right: 1.5vw;
    }

    .intro .flexbox div:nth-child(3) {
        margin-left: 1.5vw;
    }

    .intro h3 {
        margin: 0 0 2.25vh;
    }

    .intro a {
        bottom: 6.2vw;
    }

    /* Gallery */

    .showroom {
        align-items: center;
        padding-top: 4.75vw;
    }

    .showroom .gallery {
        grid-gap: 70px 28px;
        grid-auto-rows: 278px;
        grid-template-columns: repeat(auto-fit, minmax(444px, 0fr));
        width: 75%;
        padding: 0 30px;
    }

    .showroom .gallery div {
        position: relative;
    }

    .showroom .gallery img {
        cursor: pointer;
    }

    .showroom .info {
        margin-top: 1vh;
    }

    .showroom .info p {
        margin:8px 0 0;
    }

    .showroom a {
        position: relative;
        margin-top: 8vh;
    }

    /* About */

    .about {
        padding: 20vh 0;
    }

    .about .wrapper {
        margin-left: 2.5vw;
    }

    .about .flexbox {
        align-items: flex-end;
        width: 60.3vw;
        justify-content: space-between;
        align-self: flex-start;
        margin-top: 4vh;
    }
    
    .bg-about,
    .angel {
        width: 75vw;
        transform: translate(-5.75vw, -10px);
        align-self: flex-start;
    }

    .about .first,
    .about .second {
        width: 42.5vw;
        align-items: center;
    }

    .about .content {
        width: 70vw;
        align-self: flex-start;
        margin-top: 3vh;
    }

    .about .content div p {
        margin-top: 1.4vw;
        line-height: 2.75vh;
    }

    .about .author:first-of-type {
        margin: 5vh 0 2vh;  
    }

    .angel {
        right: 12vw;
        top: -6.35vh;
    }

    .passion {
        margin-top: 40vh;
        z-index: 3;
    }

    .passion .title {
        width: 16vw;
        margin-right: 8vw;
        z-index: 3;
    }

    .passion .title h2 {
        line-height: 10.75vh;
        text-align: left;
    }

    .passion .title p {
        margin-top: 5vh;
    }

    .about .container {
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        z-index: 2;
    }

    .about .container div {
        display: flex;
    }

    .about .container .author:last-child {
        flex-direction: row-reverse;
    }

    .about .text {
        flex-direction: column;
    }

    .about img {
        height: fit-content;
        width: 23.13vw;
    }

    .about .text {
        width: 24vw;
        margin-top: 3vh;
    }

    .about .author:first-of-type .text {
        margin-left: 3vw;
    }

    .about .author:last-of-type .text {
        margin-right: 3vw;
    }

    .about h3 {
        margin-bottom: 2vh;
    }

    .about .cursive {
        margin-top: 4vh;
    }

    .about article {
        align-items: center;
    }

    .about article:first-of-type {
        margin-top: 15vh;
    }   

    .about .quotebox {
        width: 65vw;
        justify-content: space-around;
        margin-top: 5vh;
      }
      
      .about .quotebox img {
        width: 3.75%;
        margin-right: 1vw;
      }
      
      .about .first .quote .content p {
        width: 54%;
      }
      
      .about .quote {
        width: 30vw;
      }
      
      .about .first,
      .about .second {
        align-items: center;
      }
      .about .first .quote:nth-child(1) {
        margin-bottom: 5vh;
      }
      
      .about .first .quote:nth-child(2) {
        margin-bottom: 15vh;
      }
      
      .about .second .quote {
        margin-bottom: 13vh;
      }
      
      
      
      .about .quote .name {
        flex-direction: column;
      }
      
      .about .first .quote:nth-child(1) .name {
        left: -7.5vw;
        bottom: 5vh;
      }
      
      .about .first .quote:nth-child(2) .name {
        left: -8.5vw;
        bottom: 1vh;
      }
      
      
      .about .first .quote:nth-child(3) .name {
        left: -11.5vw;
        bottom: -2.5vh;
      }
      
      .about .second .quote:nth-child(1) .name {
        left: -10vw;
        bottom: 3vh;
      }
      
      .about .second .quote:nth-child(2) .name {
        left: -7vw;
        bottom: 14.5vh;
      }
      
      .about .quote .name p {
        align-self: flex-end;
      }

      .about .numbers {
        margin: 20vh 0 7.5vh;
      }

      .about .numbers h2 {
        width: 75%;
      }

      .charts {
        margin-top: 10vh;
        width: 75vw;
        justify-content: space-around;
      }
      
      .charts div {
        width: 50vw;
        justify-content: space-between;
      }

      
      .charts div h3 {
        font-size: 3.85vw;
      }
      
      .charts svg {
        bottom: -4vh;
        width: 20vw;
      }
      
      .charts div:first-child svg,
      .charts div:last-child svg {
        left: 4vw;
      }
      
      .charts div:nth-child(2) svg {
        left: 2.5vw;
      }
      
      .about .runicBtn {
        bottom: 3vh;
      }

      /* Offer */

      .offer .heading-text svg {
        top: 28.25vh;
        left: 7.25vw;
      }

      .offer .heading-text {
        z-index: 3;
      }
      
      
      .offer .heading-text p {
        margin-top: 7vh;
      }
      
      .offer .offers {
        width: 78vw;
        margin: 30vh 0 20vh;
        row-gap: 12vh;
      }
      
      .offerbox {
        width: 26%;
        justify-content: space-around;
      }
      
      
      .offerbox p {
        margin-top: 3.5vh;
      }
      
      .offerbox h3 {
        width: 90%;
      }
      
      .offerbox div:last-child {
        width: 51%;
      }

      /* Contact */

      .contact svg {
        right: 0;
        bottom: 0;
        height: auto;
        width: 10vw;
      }

      .contact .boxes {
        margin: 15vh 0 35vh;
        justify-content: space-between;
      }

      /* Footer */

      footer {
        border-top: 1px solid #E7E9F0;
      }
      
      footer p {
        font-size: .7275vw;
      }
      
      footer .wrapper {
        margin: 2vh 2.5vw;
        display: flex;
        justify-content: space-between;
      }
      
      footer .wrapper div {
        display: flex;
        align-items: center;
      }
      
      footer img {
        width: fit-content;
        height: fit-content;
      }
      
      
      footer .wrapper div:nth-child(1) {
        width: 20%;
      }
      
      footer .wrapper div:nth-child(1) img {
        margin-right: 2.75vw;
      }
      
      footer .wrapper div:nth-child(2) {
        justify-content: space-around;
        width: 25%;
      }
      
      footer .wrapper .arrowUp {
        width: 27px;
        height: 47px;
        position: relative;
        overflow: hidden;
        display: flex;
        place-items: flex-end;
        place-content: center;
      }
      
      footer .wrapper .arrowUp img {
        transition: .34s ease;
      }
      
      footer .wrapper .arrowUp:hover img:first-child {
        transform: translateY(-8px);
      }
      
      footer .wrapper .arrowUp:hover img:last-child {
        transform: translateY(-36px);
      }
      
      
      footer .wrapper .arrowUp img:first-child {
        position: absolute;
        top: 16px;
      }
      
}


/* MOBILE */


@media (max-width: 1024px) {
    /* Header */

    body {
        position: relative;
        overflow-x: hidden;
    }

    .global {
        height: 7vh;
        z-index: 6;
    }

    nav:after {
        transition: .36s ease-in-out;
        left: 0;
        position: fixed;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        display: none;
    }

    .open nav::after {
        background-color: rgba(255, 255, 255, 0.87);
    }

    .open header,
    .open section {
        z-index: 0;
    }

    .open .runicBtn {
        z-index: 0;
    }

    .lineWrapper {
        position: relative;
        /* overflow: hidden; */
    }

    .svgbox {
        position: absolute;
        overflow: hidden;
        height: 375vh;
        width: 100vw;
    }

    #bgTopMobile {
        animation: drawtop 2s;
        /* animation-delay: 3s; */
        stroke-dasharray: 14357.5;
        stroke-dashoffset: 13194.5;
      }
    
      @keyframes drawtop {
        from {
          stroke-dasharray: 10000;
          stroke-dashoffset: 10000;
        }
        to {
          stroke-dasharray: 13357.5;
          stroke-dashoffset: 12194.5;
        }
      }

    .apla {
        z-index: 7;
    }


    .apla button {
        margin: 4.5vh 0 0 6.75vw;
    }

    .menuBtn {
        z-index: 7;
    }

    .menuBtn span::after {
        content: '';
    }

    nav {
        display: contents;
        z-index: -1;
    }

    .open nav {
        z-index: 2;
    }

    nav a {
        font-size: 13.05vw;
        line-height: 9.25vh;
        height: 11.25vh;
        text-align: left;
        z-index: 6;
        text-shadow: 1.5px 1.5px #00ffea;
        transition: .34s ease-in-out;
    }

    .links {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 0 5vh 6vw;
        position: fixed;
        left: 100vw;
        z-index: 6;
    }

    .open nav a {
        transform: translateX(-100vw);
    }

    .menuBtn {
        position: fixed;
        top: 18px;
        right: 15px;
        width: 27px;
        height: 40px;
        overflow: hidden;
        box-sizing: content-box;
        padding: 0;
        z-index: 10;
        transition: .2s ease;
    }

    .after .menuBtn {
        transform: translateY(-15px);
    }

    .menuBtn span {
        height: 3px;
        width: 100%;
        background-color: #00ffea;
        display: block;
        position: absolute;
        top: 20px;
    }

    .menuBtn span:after,
    .menuBtn span::before {
        width: 100%;
        content: '';
        height: 3px;
        background-color: #00ffea;
        display: block;
        position: absolute;
        transition: .36s ease-in;
    }

    .menuBtn span:before {
        top: -8px;
    }

    .menuBtn span:after {
        top: 8px;
        transform: translateX(100%);
    }

    .open .menuBtn span:after {
        transform: translateX(0);
    }

    .open .menuBtn span:before {
        transform: translateX(100%);
    }

    .lineWrapper .bg-top {
        left: -82px;
        width: 137.25%;
        top: 24.6vh;
    }

    .lineWrapper path {
        fill: none;
        stroke: #00FFEA;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    p {
       font-size: 4.45vw;
       line-height: 4.15vh;
       margin-top: 1.75vh;
    }

    button {
       font-size: .75vw;
    }
     
    h1, h2 {
       font-size: 13.05vw;
    }

    h1, h2 {
       line-height: 9.25vh;
    }

    h3 {
       font-size: 8vw;
    }
    
    .desktop {
        display: none;
    }

    header, section {
        margin: 0 29px 0 29px;
    }

    header {
        place-items: center;
        padding-bottom: 24.5vh;
    }

    header .container {
        margin-top: 11.75vh;
        align-self: flex-start;
    }

    header .container img {
        margin-left: .75vw;
    }

    header p {
        margin: 9vh 0 0 1px;
    }

    header a {
        bottom: 5vh;
    }

    /* Intro */

    .intro .heading-text {
        margin-top: 10vh;
        padding-bottom: 1vh;
    }

    .intro h2 {
        margin: 0;
    }

    .intro .flexbox {
        flex-direction: column;
        margin-top: 45vh;
    }

    .intro .flexbox div:first-child {
        margin-bottom: 45vh;
    }

    .intro .flexbox div:nth-child(2) {
        margin-bottom: 42.5vh;
    }

    .intro a {
        bottom: -19vh;
    }

    /* Showroom */

    .showroom {
        padding-top: 17vh;
        align-items: center;
    }

    .showroom h1 {
        margin-top: 30vh;
    }

    .showroom .gallery {
        margin-bottom: 10vh;
    }

    .showroom .gallery img {
        width: 100%;
    }

    .showroom .info {
        margin: 5vh 0;
    }

    .showroom a {
        bottom: -5vh;
    }

    /* About */

    .about {
        padding-top: 17vh;
        align-items: center;
    }

    .about h2,
    .about p {
        z-index: 2;
    }

    .about .wrapper {
        position: relative;
    }

    .about .wrapper .content {
        flex-direction: column;
        margin-top: 50vh;
    }

    .about .wrapper .content div:first-child {
        margin-bottom: 50vh;
    }

    .about .wrapper .content div:nth-child(2) {
        margin-bottom: 50vh;
    }

    .about .bg-about {
        position: absolute;
    }

    .about .first {
        top: -55vh;
        width: 100%;
        left: -50px;
    }

    .about .second {
        top: 112vh;
        left: -85px
    }

    .about .third {
        top: 170vh;
        left: -50px;
    }

    .about .flexbox {
        align-items: flex-start;
    }

    .about .flexbox p {
        width: 100%;
        margin: 0;
    }

    .passion {
        flex-direction: column;
        margin-top: 100vw;
    }

    .angel {
        top: -80vw;
        left: -20vw;
    }

    .about .passion img {
        width: 100%;
    }

    .about .passion .author:first-child {
        margin: 20vh 0 10vh;
    }

    .customers {
        margin-top: 20vh;
    }

    .customers h2 {
        margin-bottom: 20vh;
    }

    .quotebox {
        flex-direction: column;
    }

    .quote .content {
        width: 75%;
        flex-direction: column;
    }

    .quote .content img {
        width: 8%;
    }

    .quote {
        justify-content: flex-end
    }

    .quote .name p {
        margin: 0;
        font-size: 4vw;
    }

    .quote .name h3 {
        font-size: 7.5vw;
        margin-bottom: 1vw;
    }

    .about .first {
        margin-bottom: 20vh;
    }

    .about .first .quote:nth-child(1) .name {
        left: -11.5vw;
        bottom: 28.5vh;
      }
      
      .about .first .quote:nth-child(2) .name {
        left: -14.5vw;
        bottom: 14vh;
      }
      
      
      .about .first .quote:nth-child(3) .name {
        left: -27.5vw;
        bottom: 15vh;
      }
      
      .about .quotebox button {
        font-size: 19px;
        width: 140px;
        padding-bottom: 17px;
        align-self: center;
        position: relative;
        font-family: 'Butler Bold';
        color: #0c3c3a;
        padding-bottom: 5px;
        display: none;
      }

      .about .quotebox button span {
          background-color: #0c3c3a;
          width: 100%;
          display: block;
          height: 1px;
          margin-top: 15px;
      }

      .about .quotebox button span::after {
          width: 0%;
          background-color: #00ffea;
          height: 1px;
          display: block;
          transition: .74s ease-in-out;
          content: '';
      }

      .about .quotebox button:hover span:after {
          width: 100%;
      }

      .about .second {
          /* display: none; */
      }
      
      .about .second .quote:nth-child(1) .name {
        left: -22vw;
        bottom: 63vh;
      }
      
      .about .second .quote:nth-child(2) .name {
        left: -10vw;
        bottom: 86vh;
      }

      .about .charts {
          flex-direction: column;
          align-items: center;
      }

      .about .numbers h2 {
          margin-bottom: 20vh;
      }

      .about .charts div h3 {
          font-size: 15vw;
      }

      .charts div svg {
          top: -8vh;
      }

      .charts div {
          margin-bottom: 30vh;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .about a {
        bottom: 0;
      }


      /* Offer */

      .offer {
          padding-top: 4vh;
          align-items: center;
      }

      .offer .heading-text  {
          margin-bottom: 15vh;
      }

      .offer h3 {
          font-size: 7.5vw;
          line-height: 5.85vh;
          margin-bottom: 1vh;
      }

      .offerbox {
          margin-bottom: 12.5vh;
          justify-content: space-between;
      }

      .offerbox div:last-child {
          width: 50%;
      }

      .reverse {
          flex-direction: row-reverse;
      }


      /* Contact */

      .contact {
          align-items: center;
      }

      .contact h2 {
          width: 101%;
      }

      .contact svg {
          top: 53vh;
          width: 43.21%;
          transform: scaleX(-1);
      }

      .contact .boxes {
          flex-direction: column;
          margin-top: 45vh;
      }

      .contact .boxes div {
          width: auto;
          margin-bottom: 10vh;
      }

      .contact .boxes button {
          font-size: 2.2vh;
      }


      /* Footer */

      footer {
        height: 18.595vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      footer img {
          width: 43.9%;
          margin-top: 6vh;
      }

      footer p {
          font-size: 2.25vh;
      }
}