@media (min-width: 1920px) and (min-height: 1200px) {
    .bg-top {
        left: -10px;
        width: 85vw;
        top: 20vw;
    }
}

@media (max-width: 1920px) and (max-height: 1080px) {
    .bg-top {
        left: -20px;
        width: 85vw;
        top: 13.25vw;
    }
}

@media (max-width: 1680px) and (max-height: 1050px) {
    .bg-top {
        left: -10px;
        width: 85vw;
        top: 0;
    }
}

@media (max-width: 1680px) and (max-height: 1050px) {
    .bg-top {
        left: -146px;
        width: 96vw;
        top: 19vw;
    }
}

@media (max-width: 1440px) and (max-height: 900px) {
    .bg-top {
        left: -108px;
        width: 95vw;
        top: 10vw
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .bg-top {
        left: -22px;
        width: 85vw;
        top: 0;
    }
}

@media (max-width: 1280px) and (max-height: 800px) {
    .bg-top {
        left: -120px;
        width: 97vw;
        top: 4vw;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .bg-top {
        left: -10px;
        width: 85vw;
        top: -14vw;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {
    .bg-top {
        left: -18px;
        width: 85vw;
        top: -21vw;
    }
}

@media (min-width: 1024px) {

    .loading img {
        width: 18.78%;
        height: fit-content;
        margin-bottom: 30px;
    }

    .loading p {
        margin: 350px 0 30px 0;
    }

    .loading span {
        width: 360px;
    }

    .styledBtn {
        font-size: 1.15vw;
    }

    p {
        font-size: .875vw;
        line-height: 1.45vw;
      }
    
      button {
        font-size: .75vw;
      }
      
      h1, h2 {
        font-size: 3.85vw;
      }
    
      h1 {
        line-height: 5.65vw
      }
    
      h3 {
        font-size: 1.75vw;
      }


    h1,h2 {
        text-align: center;
    }

    .mobile {
        display: none;
    }

    section {
        align-items: center;
    }

    section:not(.showroom) {
        margin: 0 13vw;
    }

    .close {
        right: 50px;
        top: 30px;
      }

    /* HEADER */

    nav a:hover {
        text-shadow: -6px 0px #00ffea;
    }
    
    nav hr {
        display: block;
        height: 1px;
        border: 0;
        margin: 1em 0;
        padding: 0;
    }
    
    nav hr.black {
        width: 5px;
        right: -20px;
        top: -45px;
    }
    
    nav hr.blue {
        width: 5px;
        right: -20px;
        top: -45px;
        /* max-height: 0; */
    }
    
    nav.open hr.black {
        max-height: 210px;
    }
      
    
    nav a.int.active ~ hr.black,
    nav a.int:hover ~ hr.blue {
      height: 7vh;
    }
    
    nav a.sho.active ~ hr.black,
    nav a.sho:hover ~ hr.blue {
      height: 60px;
    }
    
    nav a.tea.active ~ hr.black,
    nav a.tea:hover ~ hr.blue {
      height: 106px;
    }
    
    nav a.off.active ~ hr.black,
    nav a.off:hover ~ hr.blue {
      height: 145px;
    }
    
    nav a.con.active ~ hr.black,
    nav a.con:hover ~ hr.blue {
      height: 190px;
    }
    
    nav a.int.active ~ hr.black {
      max-height: 6vh;
    }
    
    nav a.sho.active ~ hr.black {
      max-height: 60px;
    }
    
    nav a.tea.active ~ hr.black {
      max-height: 106px;
    }
    
    nav a.off.active ~ hr.black {
      max-height: 145px;
    }
    
    nav a.blo.active ~ hr.black {
      max-height: 195px;
    }
    
    nav a.con.active ~ hr.black {
      max-height: 233px;
    }

    .lineWrapper {
        position: relative;
    }


    .bg-top path {
        fill: none;
        stroke: #00ffea;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1px;
        fill-rule: evenodd;
        animation: drawtop 2s;
        animation-delay: 3s;
        stroke-dasharray: 12357.5;
        stroke-dashoffset: 10794.5;
        opacity: 0;
        transform: translate3d(0,0,0);
    }

    @keyframes drawtop {
        from {
          stroke-dasharray: 10000;
          stroke-dashoffset: 10000;
        }
        to {
          stroke-dasharray: 12357.5;
          stroke-dashoffset: 10794.5;
        }
      }

    .apla {
        margin: 29px 24px;
    }

    nav {
        margin: 27px 41px;
    }
    

    header {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    header .container {
        text-align: center;
        align-items: center;
        margin-bottom: 6.25vh;
        position: relative;
        bottom: 9px;
        bgleft: 5px;
    }


    h1 {
        margin: 0 0 4vh;
    }

    header h1 img {
        width: 18.25vw;
        margin-left: 14px;
    }


    header a {
        bottom: 4.6vw;
    }

    h2 {
        margin: 1.5vh 0;
    }

    header .container p {
        font-size: 17px;
    }

    .heading-text {
        text-align: center;
    }

    /* INTRO */

    .intro {
        height: 100vh;
        justify-content: space-around;
    }

    .intro .heading-text {
        margin-bottom: 11vh;
    }

    .intro .flexbox {
        align-self: center;
        justify-content: center;
        width: 80%;
        margin:0 30vw 9vh 30vw;
        transform: translate(0.25vh, .5vh);
    }

    .intro .flexbox div {
        width: 30%;
    }

    .intro .flexbox div:nth-child(1) {
        margin-right: 1.5vw;
    }

    .intro .flexbox div:nth-child(3) {
        margin-left: 1.5vw;
    }

    .intro h3 {
        margin: 0 0 2.25vh;
    }

    .intro a {
        bottom: 6.2vw;
    }

    /* Gallery */

    .showroom {
        align-items: center;
        padding-top: 4.75vw;
    }

    .showroom .gallery {
        grid-gap: 70px 28px;
        grid-auto-rows: 278px;
        grid-template-columns: repeat(auto-fit, minmax(444px, 0fr));
        width: 75%;
        padding: 0 30px;
    }

    .showroom .gallery div {
        position: relative;
    }

    .showroom .gallery img {
        cursor: pointer;
    }

    .showroom .info {
        margin-top: 1vh;
    }

    .showroom .info p {
        margin:8px 0 0;
    }

    .showroom a {
        position: relative;
        margin-top: 8vh;
    }

    /* About */

    .about {
        padding: 20vh 0;
    }

    .about .wrapper {
        margin-left: 2.5vw;
    }

    .about .flexbox {
        align-items: flex-end;
        width: 60.3vw;
        justify-content: space-between;
        align-self: flex-start;
        margin-top: 4vh;
    }
    
    .bg-about,
    .angel {
        width: 75%;
        transform: translate(-5.75vw, -10px);
        align-self: flex-start;
    }

    .bg-about {
        position: relative;
        left: 5.45vw;
        bottom: 3.5vh;
    }

    .about .first,
    .about .second {
        width: 42.5vw;
        align-items: center;
    }

    .about .content {
        width: 70vw;
        align-self: flex-start;
        margin-top: 3vh;
    }

    .about .content div p {
        margin-top: 1.4vw;
        line-height: 2.75vh;
    }

    .about .author:first-of-type {
        margin: 5vh 0 2vh;  
    }

    .angel {
        left: -3vw;
        top: -6.35vh;
    }

    .passion {
        margin-top: 40vh;
        z-index: 3;
    }

    .passion .title {
        width: 16vw;
        margin-right: 8vw;
        z-index: 3;
    }

    .passion .title h2 {
        line-height: 10.75vh;
        text-align: left;
    }

    .passion .title p {
        margin-top: 5vh;
    }

    .about .container {
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        z-index: 2;
    }

    .about .container div {
        display: flex;
    }

    .about .container .author:last-child {
        flex-direction: row-reverse;
    }

    .about .text {
        flex-direction: column;
    }

    .about img {
        height: fit-content;
        width: 23.13vw;
    }

    .about .text {
        width: 24vw;
        margin-top: 3vh;
    }

    .about .author:first-of-type .text {
        margin-left: 3vw;
    }

    .about .author:last-of-type .text {
        margin-right: 3vw;
    }

    .about h3 {
        margin-bottom: 2vh;
    }

    .about .cursive {
        margin-top: 4vh;
    }

    .about article {
        align-items: center;
    }

    .about article:first-of-type {
        margin-top: 15vh;
    }   

    .about .quotebox {
        width: 65vw;
        justify-content: space-around;
        margin-top: 5vh;
      }
      
      .about .quotebox img {
        width: 3.75%;
        margin-right: 1vw;
      }
      
      .about .first .quote .content p {
        width: 54%;
      }
      
      .about .quote {
        width: 30vw;
      }
      
      .about .first,
      .about .second {
        align-items: center;
      }
      .about .first .quote:nth-child(1) {
        margin-bottom: 5vh;
      }
      
      .about .first .quote:nth-child(2) {
        margin-bottom: 15vh;
      }
      
      .about .second .quote {
        margin-bottom: 13vh;
      }
      
      
      
      .about .quote .name {
        flex-direction: column;
      }
      
      .about .first .quote:nth-child(1) .name {
        left: -7.5vw;
        bottom: 5vh;
      }
      
      .about .first .quote:nth-child(2) .name {
        left: -8.5vw;
        bottom: 1vh;
      }
      
      
      .about .first .quote:nth-child(3) .name {
        left: -11.5vw;
        bottom: -2.5vh;
      }
      
      .about .second .quote:nth-child(1) .name {
        left: -10vw;
        bottom: 3vh;
      }
      
      .about .second .quote:nth-child(2) .name {
        left: -7vw;
        bottom: 14.5vh;
      }
      
      .about .quote .name p {
        align-self: flex-end;
      }

      .about .numbers {
        margin: 20vh 0 7.5vh;
      }

      .about .numbers h2 {
        width: 75%;
      }

      .charts {
        margin-top: 10vh;
        width: 75vw;
        justify-content: space-around;
      }
      
      .charts div {
        width: 50vw;
        justify-content: space-between;
      }

      
      .charts div h3 {
        font-size: 3.85vw;
      }
      
      .charts svg {
        bottom: -4vh;
        width: 20vw;
      }
      
      .charts div:first-child svg,
      .charts div:last-child svg {
        left: 4vw;
      }
      
      .charts div:nth-child(2) svg {
        left: 2.5vw;
      }
      
      .about .runicBtn {
        bottom: 3vh;
      }

      /* Offer */

      .offer .heading-text svg {
        top: 28.25vh;
        left: 7.25vw;
      }

      .offer .heading-text {
        z-index: 3;
      }
      
      
      .offer .heading-text p {
        margin-top: 7vh;
      }
      
      .offer .offers {
        width: 78vw;
        margin: 30vh 0 20vh;
        row-gap: 12vh;
      }
      
      .offerbox {
        width: 26%;
        justify-content: space-around;
      }
      
      
      .offerbox p {
        margin-top: 3.5vh;
      }
      
      .offerbox h3 {
        width: 90%;
      }
      
      .offerbox div:last-child {
        width: 51%;
      }

      /* Contact */

      .contact svg {
        right: 0;
        bottom: 0;
        height: auto;
        width: 10vw;
      }

      .contact .boxes {
        margin: 15vh 0 35vh;
        justify-content: space-between;
      }

      /* Footer */

      footer {
        border-top: 1px solid #E7E9F0;
      }
      
      footer p {
        font-size: .7275vw;
      }
      
      footer .wrapper {
        margin: 2vh 2.5vw;
        display: flex;
        justify-content: space-between;
      }
      
      footer .wrapper div {
        display: flex;
        align-items: center;
      }
      
      footer img {
        width: fit-content;
        height: fit-content;
      }
      
      
      footer .wrapper div:nth-child(1) {
        width: 20%;
      }
      
      footer .wrapper div:nth-child(1) img {
        margin-right: 2.75vw;
      }
      
      footer .wrapper div:nth-child(2) {
        justify-content: space-around;
        width: 25%;
      }
      
      footer .wrapper .arrowUp {
        width: 27px;
        height: 47px;
        position: relative;
        overflow: hidden;
        display: flex;
        place-items: flex-end;
        place-content: center;
      }
      
      footer .wrapper .arrowUp img {
        transition: .34s ease;
      }
      
      footer .wrapper .arrowUp:hover img:first-child {
        transform: translateY(-8px);
      }
      
      footer .wrapper .arrowUp:hover img:last-child {
        transform: translateY(-36px);
      }
      
      
      footer .wrapper .arrowUp img:first-child {
        position: absolute;
        top: 16px;
      }

      /* Mail Screen */

      
      .mail-screen form {
        margin-top: 160px;
        width: 37.084%;
      }
      
      form p:first-of-type {
        margin: 3vh 0;
        align-self: center;
      }
      
      
      form input {
        padding: 10px 0 10px 10px;
        transition: all .3s;
        border-bottom: 1px solid #0c3c3a;
        height: 52px;
        font-size: 17px;
        margin-bottom: 15px;
      }
      
      form p span {
        margin-bottom: 12px;
      }
      
      
      form p:nth-child(5) textarea {
        height: 24vh;
        padding: 10px 0 10px 10px;
        width: 100%;
        font-size: 17px;
      }
      
      
      form p:nth-child(5) {
        margin-bottom: 40px;
      }
      
      form button:last-child {
        width: 221px;
      }
      
      form button:last-child, .sent-message div button {
        font-size: 22px;
      }
      
      form button {
        align-items: center;
      }
      
      form button::before {
        bottom: -2px;
      }


      /* PROJECTS */


      .projects .testimonial {
          margin-top: 10vh;
      }


      .projects .photo {
          margin: 100px 0 0px;
          position: relative;
          width: 87.2%;
      }
      
      .projects .testimonial .client, .projects .testimonial .ourbox {
          flex-direction: column;
      }
      
      .projects .quote {
          width: 40%;
          position: relative;
          left: 39px;
      }
      
      .projects .quote div:last-child {
          display: flex;
          margin: 2vh 0 0 3.7vw;
      }

      .projects .author {
        top: 70%;
      }

      .projects .testimonial a img {
        margin-right: 10px;
      }

      .projects .testimonial a p {
        /* font-size: 14px; */
        font-size: .75vw;
      }

      .projects .port-nav {
        margin-top: 12vh;
      }

      .projects .port-nav a {
        margin: 0 30px 40px;
      }

      .projects .port-nav a p {
        margin-bottom: 15px;
      }

     .projects .testimonial a, .projects .ourbox div, .projects .client div:last-child {
        margin: 15px 0;
    }

    .projects .client div:last-child div {
        margin-top: 4vh;
    }

    .projects .client div:last-child p:first-child {
        margin-bottom: 1.75vh;
    }
      
}




/* MOBILE */


@media (max-width: 1023px) {

    .close {
        right: 23px;
        top: 30px;
      }

    .loading img {
        width: 57.225%;
        height: fit-content;
        margin-bottom: 30px;
    }
      
      .loading p {
        margin: 190px 0 30px 0;
    }

    .loading span {
        width: 206px;
    }

    .styledBtn {
        font-size: 5vw;
    }

    /* Header */

    body {
        position: relative;
        overflow-x: hidden;
    }

    .global {
        height: 7vh;
    }

    nav:after {
        transition: .36s ease-in-out;
        transition-delay: .1s;
        left: 0;
        position: fixed;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .open nav::after {
        background-color: rgba(255, 255, 255, 0.87);
        z-index: 2;
    }

    .open header,
    .open section {
        z-index: 0;
    }

    .open .runicBtn {
        z-index: 0;
    }

    .lineWrapper {
        position: relative;
        /* overflow: hidden; */
    }

    .svgbox {
        position: absolute;
        overflow: hidden;
        height: 375vh;
        width: 100vw;
    }

    #bgTopMobile {
        animation: drawtop 2s;
        /* animation-delay: 3s; */
        stroke-dasharray: 14357.5;
        stroke-dashoffset: 13194.5;
      }
    
      @keyframes drawtop {
        from {
          stroke-dasharray: 10000;
          stroke-dashoffset: 10000;
        }
        to {
          stroke-dasharray: 13357.5;
          stroke-dashoffset: 12194.5;
        }
      }

    .apla {
        z-index: 7;
    }


    .apla button {
        margin: 4.5vh 0 0 6.75vw;
    }


    .menuBtn span::after {
        content: '';
    }

    nav {
        display: contents;
        z-index: -1;
    }

    .open nav {
        z-index: 2;
    }

    nav a {
        font-size: 13.05vw;
        line-height: 9.25vh;
        height: 20vw;
        text-align: left;
        z-index: 6;
        text-shadow: 1.5px 1.5px #00ffea;
        transition: .34s ease-in-out;
    }

    .links {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 0 5vh 6vw;
        position: fixed;
        left: 100vw;
        z-index: 6;
    }

    .open nav a {
        transform: translateX(-100vw);
    }

    .menuBtn {
        position: fixed;
        top: 18px;
        right: 15px;
        width: 27px;
        height: 40px;
        overflow: hidden;
        box-sizing: content-box;
        padding: 0;
        z-index: 2;
        transition: .2s ease-in;
    }

    .after .menuBtn {
        transform: translateY(-15px);
    }

    .menuBtn span {
        height: 3px;
        width: 100%;
        background-color: #00ffea;
        display: block;
        position: absolute;
        top: 20px;
    }

    .menuBtn span:after,
    .menuBtn span::before {
        width: 100%;
        content: '';
        height: 3px;
        background-color: #00ffea;
        display: block;
        position: absolute;
        transition: .36s ease-in;
    }

    .menuBtn span:before {
        top: -8px;
    }

    .menuBtn span:after {
        top: 8px;
        transform: translateX(100%);
    }

    .open .menuBtn span:after {
        transform: translateX(0);
    }

    .open .menuBtn span:before {
        transform: translateX(100%);
    }

    .lineWrapper .bg-top {
        left: -82px;
        width: 137.25%;
        top: 45vw;
    }

    .lineWrapper path {
        fill: none;
        stroke: #00FFEA;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    p {
       font-size: 4.45vw;
       line-height: 7.25vw;
       margin-top: 3.25vw;
    }

    button {
       font-size: .75vw;
    }
     
    h1, h2 {
       font-size: 13.05vw;
    }

    h1, h2 {
       line-height: 16.5vw;
    }

    h3 {
       font-size: 7.75vw;
    }
    
    .desktop {
        display: none;
    }

    .global-wrapper {
        margin: 0 29px 0 29px;
    }

    header {
        place-items: center;
        padding-bottom: 40.5vw;
    }

    header .container {
        margin-top: 21vw;
        align-self: flex-start;
    }

    header .container img {
        margin-left: .75vw;
    }

    header p {
        margin: 16vw 0 0 1px;
    }

    header a {
        bottom: 8vw;
    }

    /* Intro */

    .intro .heading-text {
        margin-top: 22vw;
        padding-bottom: 1.8vw;
    }

    .intro h2 {
        margin: 0;
    }

    .intro .flexbox {
        flex-direction: column;
        margin-top: 80vw;
    }

    .intro .flexbox div:first-child {
        margin-bottom: 80vw;
    }

    .intro .flexbox div:nth-child(2) {
        margin-bottom: 75.75vw;
    }

    .intro a {
        bottom: -34vw;
    }

    /* Showroom */

    .showroom {
        padding-top: 30.25vw;
        align-items: center;
    }

    .showroom h1 {
        margin-top: 30vh;
    }

    .showroom .gallery {
        margin-bottom: 10vh;
    }

    .showroom .gallery img {
        width: 100%;
    }

    .showroom .info {
        margin: 5vh 0;
    }

    .showroom a {
        bottom: -5vh;
    }

    /* About */

    .about {
        padding-top: 30.25vw;
        align-items: center;
    }

    .about h2,
    .about p {
        z-index: 2;
    }

    .about .wrapper {
        position: relative;
    }

    .about .wrapper .content {
        flex-direction: column;
        margin-top: 89vw;
    }

    .about .wrapper .content div:first-child {
        margin-bottom: 89vw;
    }

    .about .wrapper .content div:nth-child(2) {
        margin-bottom: 89vw;
    }

    .about .bg-about {
        position: absolute;
    }

    .about .first {
        top: -99vw;
        width: 100%;
        left: -50px;
    }

    .about .second {
        top: 199vw;
        left: -85px
    }

    .about .third {
        top: 302vw;
        left: -50px;
    }

    .about .flexbox {
        align-items: flex-start;
    }

    .about .flexbox p {
        width: 100%;
        margin: 0;
    }

    .passion {
        flex-direction: column;
        margin-top: 100vw;
    }

    .angel {
        top: -80vw;
        left: -20vw;
    }

    .about .passion img {
        width: 100%;
    }

    .about .passion .author:first-child {
        margin: 35.5vw 0 18vw;
    }

    .customers {
        margin-top: 36vw;
    }

    .customers h2 {
        margin-bottom: 36vw;
    }

    .quotebox {
        flex-direction: column;
    }

    .quote .content {
        width: 75%;
        flex-direction: column;
    }

    .quote .content img {
        width: 8%;
    }

    .quote {
        justify-content: flex-end
    }

    .quote .name p {
        margin: 0;
        font-size: 4vw;
    }

    .quote .name h3 {
        font-size: 7.5vw;
        margin-bottom: 1vw;
    }

    .about .first {
        margin-bottom: 14vw;
    }

    .about .first .quote:nth-child(1) .name {
        left: -11.5vw;
        bottom: 50vw;
      }
      
      .about .first .quote:nth-child(2) .name {
        left: -14.5vw;
        bottom: 25vw;
      }
      
      
      .about .first .quote:nth-child(3) .name {
        left: -27.5vw;
        bottom: 27vw;
      }
      
      .about .quotebox button {
        font-size: 19px;
        width: 140px;
        align-self: center;
        padding-bottom: 5px;
        border: none;
      }

      .about .quotebox button span {
          background-color: #0c3c3a;
          width: 100%;
          display: block;
          height: 1px;
          margin-top: 15px;
      }

      .about .quotebox button::before,
      .about .quotebox button::after {
          height: 1px;
          display: block;
          transition: .74s ease-in-out;
          content: '';
          position: absolute;
          bottom: -7px;
          left: 0;
      }

      .about .quotebox button:before {
        width: 85%;
        background-color: #0c3c3a;
      }

      .about .quotebox button:after {
        width: 0;
        background-color: #00ffea;
      }

      .about .quotebox button:hover::after {
        width: 85%;
      }

      .about .quotebox button.extend span:after {
          width: 100%;
      }

      .about .quotebox .second {
          overflow: hidden;
          display: none;
      }

      .about .second.extend .quote {
          transform: translateY(0);
          transition: .34s ease;
      }
      
      .about .second .quote:nth-child(1) .name {
        left: -22vw;
        bottom: 112vw;
      }
      
      .about .second .quote:nth-child(2) .name {
        left: -10vw;
        bottom: 153vw;
      }

      .second .quote {
          transform: translateY(-200%);
      }

      .about .charts {
          flex-direction: column;
          align-items: center;
      }

      .about .numbers h2 {
          margin-bottom: 36vw;
      }

      .about .charts div h3 {
          font-size: 15vw;
      }

      .charts div svg {
          top: -8vh;
      }

      .charts div {
          margin-bottom: 30vh;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .about a {
        bottom: 0;
      }


      /* Offer */

      .offer {
          padding-top: 7vw;
          align-items: center;
      }

      .offer .heading-text  {
          margin-bottom: 26vw;
      }

      .offer h3 {
          font-size: 7.5vw;
          line-height: 10.5vw;
          margin-bottom: 1.8vw;
      }

      .offerbox {
          margin-bottom: 22vw;
          justify-content: space-between;
      }

      .offerbox div:last-child {
          width: 50%;
      }

      .reverse {
          flex-direction: row-reverse;
      }


      /* Contact */

      .contact {
          align-items: center;
      }

      .contact h2 {
          width: 101%;
      }

      .contact svg {
          top: 53vh;
          width: 43.21%;
          transform: scaleX(-1);
      }

      .contact .boxes {
          flex-direction: column;
          margin-top: 80vw;
      }

      .contact .boxes div {
          width: auto;
          margin-bottom: 18vw;
      }

      .contact .boxes button,
      .contact .boxes a {
          font-size: 3.925vw;
      }

      .contact .boxes div:nth-child(2) a.focus p {
        transform: translateX(10px);
      }


      /* Footer */

      footer {
        height: 33.0556vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      footer .logo {
          width: 43.9%;
          margin: 7.75vw 0 4vw;
      }

      footer .icon-box-btn {
          position: fixed;
          right: 15px;
          bottom: 4.25vw;
          z-index: 3;
          transform: translateX(130%);
          transition: .25s ease;
          overflow: hidden;
      }

      footer .icon-box-btn img {
        transition: .2s ease;
      }

      footer .icon-box-btn.visible {
          transform: translateX(0);
      }

      footer .icon-box-btn img:first-child {
          position: absolute;
      }

      footer .icon-box-btn.open img:first-child {
        transform: translateY(-30px);
      }

      footer .icon-box-btn.open img:last-child {
        transform: rotate(90deg);
      }

      footer .icon-box {
          width: 84vw;
          display: flex;
          padding: 4.25vw 0;
          justify-content: space-between;
          position: fixed;
          background-color: white;
          bottom: 0;
          transform: translateY(100%);
          transition: .34s ease;
      }


      .icon-box.open {
          transform: translateY(0);
      }

      footer .icon-box span {
          height: 27px;
          width: 26px;
          display: block;
      }

      footer .icon-box a:first-child span {
          background-image: url('../assets/icons/messenger.svg');
      }

      footer .icon-box a:nth-child(2) span {
        background-image: url('../assets/icons/mail.svg');
    }

      footer .icon-box a:nth-child(3) span {
          background-image: url('../assets/icons/phone.svg');
      }
  
      footer .icon-box a:nth-child(4) span {
          background-image: url('../assets/icons/insta.svg');
      }
  
      footer .icon-box a:last-child span {
          background-image: url('../assets/icons/fb.svg');
      }
  
      footer .icon-box a:last-child {
          margin-right: 10.25vw;
      }
  
      footer .icon-box a {
          transform: translateY(160%);
          transition: cubic-bezier(.33,.14,.35,.97) .2s;
      }

      footer .icon-box.open a {
          transform: translateY(0);
      }

      footer .icon-box a:first-child {
        transition-delay: .1s;
      }

      footer .icon-box a:nth-child(2) {
        transition-delay: .2s;
      }
  
      footer .icon-box a:nth-child(3) {
        transition-delay: .3s;
      }
  
      footer .icon-box a:nth-child(4) {
        transition-delay: .4s;
      }
  
      footer .icon-box a:last-child  {
        transition-delay: .5s;
      }
  
      footer .icon-box a:last-child {
          margin-right: 10.25vw;
      }

      /* Mail Screen */

      form {
          width: 85%;
          margin-top: 14vh;
      }

      form h2 {
          font-size: 7.5vw;
          margin: 0;
      }

      form p:first-of-type {
        align-self: flex-start;
        margin: 0 0 5vh;
      }

      form input {
        padding: 10px 0 10px 10px;
        height: 52px;
        font-size: 17px;
        margin-bottom: 6px;
    }

    form p:nth-child(5) textarea {
        height: 17.814vh;
        padding: 10px 0 10px 10px;
        font-size: 17px;
    }

    form p:nth-child(5) span {
        transform: translateY(-8px);
    }

    form button {
        margin-top: 5vh;
    }

    /* Finish Screen */

    .finish-screen {
        text-align: center;
    }

    .finish-screen svg {
        margin-top: 15vh;
    }

    .finish-screen h2 {
        font-size: 7.5vw;
        margin: 5vh 0 0;
    }

    .finish-screen p {
        width: 57%;
        margin: 3vh 0 12vh;
    }


    /* PROJECTS */

    .projects .heading-text {
        place-items: flex-start;
        margin: 78px 30px 0;
    }

    .projects h2 {
        text-align: left;
        margin: 0;
    }

    .projects .header {
        font-size: 4vw;
        margin-bottom: 10px;
    }

    .projects .testimonial {
        flex-direction: column;
    }

    .projects .quote {
        order: -1;
        margin-bottom: 78px;
        width: 84%;
        align-self: center;
    }

    .projects .quoteBox {
        flex-direction: column;
    }

    .projects .testimonial .client, .projects .testimonial .ourbox {
        flex-direction: column;
    }

    .projects .quote div:last-child {
        margin-top: 15px;
    }

    .projects .port-nav {
        position: fixed;
        bottom: 0;
        opacity: 1;
        transition: .36s ease;
        transition-delay: .74s;
        z-index: 3;
        background-color: white;
        height: 15vh;
        align-items: center;
        width: 90%;
    }

    .projects .port-nav .styledBtn {
        border-bottom: none;
    }

    .projects .port-nav a {
        font-family: 'OpenSans Light';
    }

    .projects .ourbox {
        margin-bottom: 90px;
    }
}