@media (min-width: 1920px) and (min-height: 1200px) {
    .bg-top {
        position: absolute;
        left: -10px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1920px) and (max-height: 1080px) {
    .bg-top {
        position: absolute;
        left: -20px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1680px) and (max-height: 1050px) {
    .bg-top {
        position: absolute;
        left: -10px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1680px) and (max-height: 1050px) {
    .bg-top {
        position: absolute;
        left: -146px;
        width: 96vw;
        bottom: -4vw;
    }
}

@media (max-width: 1440px) and (max-height: 900px) {
    .bg-top {
        position: absolute;
        left: -108px;
        width: 95vw;
        bottom: -12vw;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .bg-top {
        position: absolute;
        left: -22px;
        width: 85vw;
        bottom: -20.5vw;
    }
}

@media (max-width: 1280px) and (max-height: 800px) {
    .bg-top {
        position: absolute;
        left: -120px;
        width: 97vw;
        bottom: -20vw;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .bg-top {
        position: absolute;
        left: -10px;
        width: 85vw;
        bottom: -6vw;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {
    .bg-top {
        position: absolute;
        left: -18px;
        width: 85vw;
        bottom: -37.5vw;
    }
}

@media (min-width: 1024px) {

    h1,h2 {
        text-align: center;
    }

    .mobile {
        display: none;
    }

    section {
        align-items: center;
    }

    /* HEADER */

    .lineWrapper {
        position: relative;
    }

    .bg-top path {
        fill: none;
        stroke: #00ffea;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1px;
        fill-rule: evenodd;
        animation: drawtop 2s;
        /* animation-delay: 3s; */
        stroke-dasharray: 12357.5;
        stroke-dashoffset: 10794.5;
        opacity: 0;
        transform: translate3d(0,0,0);
    }

    @keyframes drawtop {
        from {
          stroke-dasharray: 10000;
          stroke-dashoffset: 10000;
        }
        to {
          stroke-dasharray: 12357.5;
          stroke-dashoffset: 10794.5;
        }
      }

    .apla {
        margin: 29px 24px;
    }

    nav {
        margin: 27px 41px;
    }

    .menuBtn {
        display: none;
    }

    header {
        justify-content: center;
        align-items: center;
    }

    header .container {
        text-align: center;
        align-items: center;
        margin-bottom: 6.25vh;
    }


    h1 {
        margin: 0 0 4vh;
    }

    header h1 img {
        width: 18.25vw;
        margin-left: 14px;
    }


    header a {
        bottom: 4.6vw;
    }

    h2 {
        margin: 1.5vh 0;
    }

    .heading-text {
        text-align: center;
    }

    /* INTRO */

    .intro {
        height: 100vh;
        justify-content: space-around;
    }

    .intro .heading-text {
        margin-bottom: 11vh;
    }

    .intro .flexbox {
        align-self: center;
        justify-content: center;
        width: 80%;
        margin:0 30vw 9vh 30vw;
        transform: translate(0.25vh, .5vh);
    }

    .intro .flexbox div {
        width: 30%;
    }

    .intro .flexbox div:nth-child(1) {
        margin-right: 1.5vw;
    }

    .intro .flexbox div:nth-child(3) {
        margin-left: 1.5vw;
    }

    .intro h3 {
        margin: 0 0 2.25vh;
    }

    .intro a {
        bottom: 6.2vw;
    }

    /* Gallery */

    .showroom {
        align-items: center;
        padding-top: 4.75vw;
    }

    .showroom .gallery {
        grid-gap: 70px 28px;
        grid-auto-rows: 278px;
        grid-template-columns: repeat(auto-fit, minmax(444px, 0fr));
        width: 75%;
        padding: 0 30px;
    }

    .showroom .gallery div {
        position: relative;
    }

    .showroom .gallery img {
        cursor: pointer;
    }

    .showroom .info {
        margin-top: 1vh;
    }

    .showroom .info p {
        margin:8px 0 0;
    }

    .showroom a {
        position: relative;
        margin-top: 8vh;
    }

    /* About */

    .about {
        padding: 20vh 0;
    }

    .about .wrapper {
        margin-left: 2.5vw;
    }

    .about .flexbox {
        align-items: flex-end;
        width: 60.3vw;
        justify-content: space-between;
        align-self: flex-start;
        margin-top: 4vh;
    }
    
    .bg-about,
    .angel {
        width: 75vw;
        transform: translate(-5.75vw, -10px);
        align-self: flex-start;
    }

    .about .content {
        width: 70vw;
        align-self: flex-start;
        margin-top: 3vh;
    }

    .about .content div p {
        margin-top: 1.4vw;
        line-height: 2.75vh;
    }

    .about .author:first-of-type {
        margin: 5vh 0 2vh;  
    }

    .angel {
        position: absolute;
        right: 12vw;
        top: -6.35vh;
    }

    .passion {
        margin-top: 40vh;
        z-index: 3;
    }

    .passion .title {
        width: 16vw;
        margin-right: 8vw;
        z-index: 3;
    }

    .passion .title h2 {
        line-height: 10.75vh;
        text-align: left;
    }

    .passion .title p {
        margin-top: 5vh;
    }

    .about .container {
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
        z-index: 2;
    }

    .about .container div {
        display: flex;
    }

    .about .container .author:last-child {
        flex-direction: row-reverse;
    }

    .about .text {
        flex-direction: column;
    }

    .about img {
        height: fit-content;
        width: 23.13vw;
    }

    .about .text {
        width: 24vw;
        margin-top: 3vh;
    }

    .about .author:first-of-type .text {
        margin-left: 3vw;
    }

    .about .author:last-of-type .text {
        margin-right: 3vw;
    }

    .about h3 {
        margin-bottom: 2vh;
    }

    .about .cursive {
        margin-top: 4vh;
    }

    .about article {
        align-items: center;
    }

    .about article:first-of-type {
        margin-top: 15vh;
    }

    

}