/* Navigation */


nav, .apla {
  position: fixed;
  z-index: 4;
}

nav {
  right: 0;
}

nav .links,
nav .bars {
    display: flex;
    flex-direction: column;
}

nav:before {
    position: absolute;
    content: "";
    background: rgb(12, 60, 58);
    height: 100%;
    transition: all 0.74s ease 0s;
    opacity: 1;
    z-index: 3;
    max-height: 4.4vh;
    width: 5px;
    right: -20px;
    top: -30px;
}

nav hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

nav hr.black {
    position: absolute;
    background: #0c3c3a;
    max-height: 0;
    height: 100%;
    transition: all 0.74s ease;
    z-index: 2;
}

nav hr.blue {
    position: absolute;
    background: #00ffea;
    height: 0px;
    transition: all 0.74s ease;
    z-index: 1;
}

/* Global */

.global {
  z-index: 6;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 15;
  align-items: center;
  animation: started .5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes started {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.loading img {
  height: fit-content;
  margin-bottom: 30px;
}


.loading span {
  background-color: #f5f5f6;
  display: block;
  height: 6px;
  width: 206px;
}

.loading span::after {
  width: 0;
  animation: load 2s;
  animation-delay: .88s;
  animation-fill-mode: forwards;
  background-color: #00ffea;
  z-index: 2;
  content: '';
  height: 6px;
  display: block;
}

@keyframes load {
  0% {width: 0%;}
  100% {width: 100%;}
}


header {
    flex-direction: column;
}

.logo_sygnet {
    transition: .36s ease;
}

.logo_sygnet img {
    width: 45px;
    height: 45px;
}


.after .logo_sygnet {
    transform: translate(-24px, -25px) scale(0.75);
    transition: cubic-bezier(.33,.14,.35,.97) .2s;
}

.runicBtn {
    width: 27px;
    height: 27px;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    position: absolute;
    z-index: 4;
}

.runicBtn img {
    transition: transform .3s cubic-bezier(.33,.14,.35,.97);
    position: absolute;
}

.runicBtn .down-arrowTwo {
    top: 0;
}

.runicBtn .down-arrowLines {
    opacity: 0;
}

.runicBtn:hover .down-arrowLine,
.runicBtn:hover .down-arrowTwo {
    transform: translateY(50%);
    transition: transform .3s cubic-bezier(.33,.14,.35,.97);
}

.runicBtn:hover .down-arrowLines {
    transform: translateY(-20px);
    transition: transform 1.3s ease-out;
    animation: disappear .6s normal;
    animation-fill-mode: forwards;
}

@keyframes disappear {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.heading-text {
  position: relative;
}

.heading-text p {
    font-size: 17px;
}

/* Intro */

.intro {
    align-items: center;
}

  .intro .runicBtn svg:nth-child(2),
  .intro .runicBtn svg:nth-child(3),
  .intro .runicBtn svg:nth-child(4) {
    transform: translateY(-6px);
  }
  
  .intro .runicBtn:hover svg:nth-child(2),
  .intro .runicBtn:hover svg:nth-child(3),
  .intro .runicBtn:hover svg:nth-child(4) {
    transform: translateY(-2px);
  }
  
  .intro .runicBtn:hover svg:nth-child(2) {
    stroke-dashoffset: 0;
  }
  /* Gallery */

  .showroom .gallery {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;
    place-content: center;
  }

   .showroom .gallery .hoverbox:hover div:first-child {
    background-color: rgba(0, 255, 234, 1);
  }

  .showroom .gallery .hoverbox:hover div:first-child img {
    opacity: .5;
  }

  .showroom .gallery div svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    opacity: 0;
  }

  .showroom .gallery .hoverbox:hover svg {
    opacity: 1;
  }

  .showroom .hoverbox div:first-child {
    display: flex;
  }

  .showroom .hoverbox {
    height: fit-content;
  }
  

  /* Gallery svg */ 

.eye {
  stroke-dasharray:300px;
  stroke-dashoffset: 300px;
  transition: all .4s ease;
}

.eyelash {
  stroke-dasharray:10px;
  stroke-dashoffset: 10px;
  transition: all .4s ease-out;
}

.showroom .gallery div:hover .eye {
  stroke-dasharray:300px;
  stroke-dashoffset: 0px;
  transition: all .45s ease-in;
  stroke-width: 3px;
}

.showroom .gallery div:hover .eyelash {
  stroke-dasharray:10px;
  stroke-dashoffset: 10px;
  animation: eyeLash .83s ease-out;
  animation-delay: .35s;
  stroke-width: 3px;
}

@keyframes eyeLash {
  0%   {
    stroke-dashoffset: 10px;
  }
  100%  {
    stroke-dashoffset: -10px;
  }
}

.showroom .runicBtn:hover svg:nth-child(1) {
  stroke-dashoffset: -70%;
}

.showroom .runicBtn:hover svg:nth-child(2) {
  stroke-dashoffset: 0;
}


/* About */

.about .content,
.about article,
.passion,
.quotebox,
.quote,
.first,
.second,
.charts {
  display: flex;
}

.about .wrapper .content {
  justify-content: space-around;
}

.passion {
  position: relative;
}

.angel {
  position: absolute;
}

.about article {
  flex-direction: column;
}

.about .quotebox {
  justify-content: space-around;
}

.about .quotebox img {
  margin-right: 1vw;
}

.about .quote {
  position: relative;
}

.about .first,
.about .second {
  align-items: center;
}
.about .first .quote:nth-child(1) {
  margin-bottom: 5vh;
}

.about .first .quote:nth-child(2) {
  margin-bottom: 15vh;
}

.about .second .quote {
  margin-bottom: 13vh;
}


.about .quote .name {
  position: absolute;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
}


.about .quote .name p {
  align-self: flex-end;
}


.about .first,
.about .second {
  flex-direction: column;
}

.about article:last-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.about article:last-child h2 {
  font-size: 3.85vw;
  margin-bottom: 4vh;
  transform: translateY(5px);
  width: 75%;
}

.charts {
  justify-content: space-around;
}

.charts div {
  position: relative;
  text-align: center;
}

.charts svg {
  position: absolute;
}

.about .runicBtn:hover svg:nth-child(1) {
  stroke-dashoffset: -70%;
}

.about .runicBtn svg:nth-child(2) {
  stroke-dasharray: 16px;
  stroke-dashoffset: -16px;
}

.about .runicBtn:hover svg:nth-child(2) {
  stroke-dashoffset: 0;
}

.about .runicBtn:hover svg:nth-child(4) {
  stroke-dashoffset: -90%;
}

/* Offer */

.offer .heading-text {
  z-index: 3;
}

.offer .heading-text svg {
  position: absolute;
}


.offer .offers {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.offerbox {
  display: flex;
}

.offer .offerbox div {
  display: flex;
  flex-direction: column;
}

.offer a {
  bottom: 0;
}


/* Contact */

.contact {
  padding-top: 27vw;
}

.contact h2 {
  margin: 1.5vh 0 5vh;
}

.contact div
.contact button {
  display: flex;
}

.contact .boxes {
  display: flex;
}

.contact .boxes p {
  margin: 2.5vh 0;
}

.contact .boxes div {
  flex-direction: column;
  width: 28.5%;
}

.contact .boxes button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.contact .boxes button img {
  margin-right: 1vw;
}

.contact .boxes div button::after {
  font-family: 'OpenSans Light';
  transition: .36s ease;
}

.contact .boxes div button:hover:after {
  text-shadow: #00ffea -3px 0px;
}

.contact .boxes div:nth-child(1) button::after {
  content: 'NAPISZ NA MESSENGER';
}

.contact .boxes div:nth-child(2) button::after {
  content: 'WYBIERZ NUMER TELEFONU';
}

.contact .boxes div:nth-child(3) button::after {
  content: 'NAPISZ WIADOMOŚĆ E-MAIL';
}

.contact svg {
  position: absolute;
}

/* Footer */

footer {
  border-top: 1px solid #E7E9F0;
}


footer img {
  width: fit-content;
  height: fit-content;
}



/* Mozilla */


@supports (-moz-appearance:none) {
}
