/* Navigation */


nav .links,
nav .bars {
    display: flex;
    flex-direction: column;
}

nav:before {
    position: absolute;
    content: '';
    background: #0c3c3a;
    width: 5px;
    right: 21px;
    top: 0;
    max-height: 40px;
    height: 100%;
    transition: all 0.74s ease;
    opacity: 1;
    z-index: 3;
}

nav hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}

nav hr.black {
    position: absolute;
    background: #0c3c3a;
    width: 5px;
    right: 21px;
    top: 0;
    max-height: 0;
    height: 100%;
    transition: all 0.74s ease;
}

nav hr.blue {
    position: absolute;
    background: #00ffea;
    width: 5px;
    right: 21px;
    top: 0;
    /* max-height: 0; */
    height: 0px;
    transition: all 0.74s ease;
}

nav.open hr.black {
    max-height: 210px;
}
  

nav a.int.active ~ hr.black,
nav a.int:hover ~ hr.blue {
  height: 40px;
}

nav a.sho.active ~ hr.black,
nav a.sho:hover ~ hr.blue {
  height: 60px;
}

nav a.tea.active ~ hr.black,
nav a.tea:hover ~ hr.blue {
  height: 106px;
}

nav a.off.active ~ hr.black,
nav a.off:hover ~ hr.blue {
  height: 145px;
}

/* nav a.blo.active ~ hr.black,
nav a.blo:hover ~ hr.blue {
  height: 195px;
} */

nav a.con.active ~ hr.black,
nav a.con:hover ~ hr.blue {
  height: 190px;
}

nav a.int.active ~ hr.black {
  max-height: 40px;
}

nav a.sho.active ~ hr.black {
  max-height: 60px;
}

nav a.tea.active ~ hr.black {
  max-height: 106px;
}

nav a.off.active ~ hr.black {
  max-height: 145px;
}

nav a.blo.active ~ hr.black {
  max-height: 195px;
}

nav a.con.active ~ hr.black {
  max-height: 233px;
}

/* Navigation */

header {
    flex-direction: column;
    height: 100vh;
}

header .container p {
    font-size: 17px;
}

.logo_sygnet {
    transition: .36s ease;
}

.logo_sygnet img {
    width: 45px;
    height: 45px;
}


.after .logo_sygnet {
    transform: translate(-24px, -25px) scale(0.75);
    transition: cubic-bezier(.33,.14,.35,.97) .2s;
}

.runicBtn {
    width: 27px;
    height: 27px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: absolute;
}

.runicBtn img {
    transition: transform .3s cubic-bezier(.33,.14,.35,.97);
    position: relative;
}

.runicBtn .down-arrowTwo {
    position: absolute;
    top: 0;
}

.runicBtn .down-arrowLines {
    top: -30px;
    opacity: 0;
}

.runicBtn:hover .down-arrowLine,
.runicBtn:hover .down-arrowTwo {
    transform: translateY(50%);
    transition: transform .3s cubic-bezier(.33,.14,.35,.97);
}

.runicBtn:hover .down-arrowLines {
    transform: translateY(-20px);
    transition: transform 1.3s ease-out;
    animation: disappear .6s normal;
    animation-fill-mode: forwards;
}

@keyframes disappear {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.heading-text span {
    font-size: 17px;
}

/* Intro */

.intro {
    align-items: center;
}

.runicBtn svg {
    position: absolute;
    transition: .5s ease;
    display: block;
  }
  
  .runicBtn svg path {
    stroke-width: 2.7px;
  }
  .runicBtn svg:nth-child(2),
  .runicBtn svg:nth-child(3),
  .runicBtn svg:nth-child(4) {
    transform: translateY(-6px);
  }
  
  .runicBtn svg:nth-child(1) {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
  }
  .runicBtn:hover svg:nth-child(1) {
    stroke-dashoffset: -70%;
  }
  
  .runicBtn svg:nth-child(2) {
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
  }
  
  .runicBtn:hover svg:nth-child(2),
  .runicBtn:hover svg:nth-child(3),
  .runicBtn:hover svg:nth-child(4) {
    transform: translateY(-2px);
  }
  
  .runicBtn:hover svg:nth-child(2) {
    stroke-dashoffset: 0;
  }
  
  .runicBtn svg:nth-child(4) {
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
  }
  .runicBtn:hover svg:nth-child(4) {
    stroke-dashoffset: 105%;
  }

  /* Gallery */

  .showroom .gallery {
    display: grid;
    grid-auto-flow: dense;
    place-content: center;
  }